* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 60px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 20px 4px rgba(128, 128, 128, 0.81);
          box-shadow: 0 0 20px 4px rgba(128, 128, 128, 0.81);
}
header a {
  color: black;
  text-decoration: none;
}
header a:hover {
  background: rgba(128, 128, 128, 0.34);
}
header nav {
  width: 30%;
  height: 100%;
}
header nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav ul > li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  list-style-type: none;
}
header nav ul > li a {
  text-decoration: none;
  padding: 8px 16px;
}

main {
  width: 100%;
  height: 100vh;
}
main .cont {
  max-width: 100%;
  height: 100vh;
  margin-right: 50px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(https://www.w3schools.com/w3images/hamburger.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main .cont p {
  padding: 30px;
  color: black;
  font-size: 50px;
  opacity: 0.5;
}