* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px 4px rgba(128, 128, 128, 0.81);
a{
    color: black;
    text-decoration: none;
    
    &:hover{
        background: rgba(128, 128, 128, 0.34);
    }
}

    nav {
        width: 30%;
        height: 100%;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;




            >li {
                width: calc(100% / 4);
                display: flex;
                text-align: left;

                list-style-type: none;

                a {
                    text-decoration: none;
                    padding: 8px 16px;
                }

            }


        }

    }
}


main {
    width: 100%;
    height: 100vh;

    .cont {
        max-width: 100%;
        height: 100vh;
        margin-right: 50px;
        margin-left: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        background: url(https://www.w3schools.com/w3images/hamburger.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        p {
            padding: 30px;
            color: black;
            font-size: 50px;
            opacity: .5;
           
        }
    }



}